.webContent{
    display: block; 
}

.whatever{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 100vh;
    width: 100%;
}

.webDetailBox{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(4, 23.75%); 
    height: 100%;
    width: 100%;
    gap: 0.5rem;  
    padding-left: 2em;
    padding-right: 2em; 
}

.webDetailsArt{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin-inline: auto; 
}

.webDetailsArt div{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.25em 1rem;
    background: transparent; 
    align-items: center;
    background: #ebeef1;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    border-radius: 30px;
    transition: opacity 1s ease, transform 1s ease;
}

.webDetailsArt div h1{
    font-size: 3.125rem;
	font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
	text-align: center;
	color: black;
    margin-top: 0.25em; 
	letter-spacing: 1.2px; 
}

.waBox2{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ebeef1; 
    box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
	border: none;
	outline: none;
	width: 90%;
	margin-inline: auto;
	height: 20%;
	border-radius: 30px;
	margin-top: 0.5em;
	margin-bottom: 1em;

	font-size: 1.5rem;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-shadow: 
   -8px -8px 12px rgba(255,255,255,0.4),
   8px 8px 12px rgba(0,0,0,0.08);
   caret-color:#262626;
   color: #92969b;
    text-align: center;  
	margin-top: 0.25em;
}

.waText2{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ebeef1; 
    box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
	border: none;
	outline: none;
	width: 90%;
	margin-inline: auto;
	height: 60%;
	border-radius: 30px;
	margin-top: 0.5em;
	margin-bottom: 0;
	padding: 1.5em 1em;
	overflow: hidden;

	font-size: 1.5rem;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-shadow: 
   -8px -8px 12px rgba(255,255,255,0.4),
   8px 8px 12px rgba(0,0,0,0.08);
   caret-color:#262626;
   color: #92969b;
    text-align: center;  
	margin-top: 0.25em;
}

.waText2::placeholder, .waBox2::placeholder{
    font-size: 1.125rem;
}

.webAct2{
    display: flex;
    flex-direction: row;
	position: absolute;
	align-items: center;
	justify-content: center;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 75px;
	height: 66px; 
	border-radius: 30px; 
	margin-inline: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
	text-decoration: none; 
	text-align: center; 
	transition: all 0.2s;
    border: none;
    outline: none;
	cursor: pointer; 
	background: #ebeef1; 
    box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);

    font-size: 2.75rem; 
   text-shadow: 
   -8px -8px 12px rgba(255,255,255,0.4),
   8px 8px 12px rgba(0,0,0,0.08);
   caret-color:#262626;
   color: #92969b;
   text-shadow: 
   -8px -8px 12px rgba(255,255,255,0.4),
   8px 8px 12px rgba(0,0,0,0.08);
   caret-color:#262626;
   font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
}

.webAct2 span{
	font-size: 1.125rem;
	margin-left: 0.5em;
}

.webAct2:hover{ 
    color: #25D366;
} 

#whatsappForm{
    margin-top: 0.75em;
    min-height: 60%;
    width: 100%;
}

.pad{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    position: relative; 
    border: none;
    outline: none;
    transition: all 0.5s;
    cursor: pointer;
    width: 100%;
    height: 100%; 
    border-radius: 30px;
    background: #ebeef1;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    transition: opacity 1s ease, transform 0.75s ease;
    padding: 0.75em 1em;
}

.pad:hover{
    box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}

.padWaffle{
    font-size: 1.125rem;
	font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
	text-align: center;
	color: white;
    margin-top: 0.5em; 
	letter-spacing: 1.2px; 
    line-height: 110%;
}

.bxs-cloud, .bxs-file-doc, .bxs-camera-movie, .bxs-brain{
    font-size: 4.375rem; 
    margin-top: 0.25em;
    color: rgba(223, 135, 35, 1);
}

.bx-support, .bxs-grid, .bx-search-alt-2, .bxs-building-house{
    font-size: 4.375rem; 
    margin-top: 0.25em;
    color: rgba(178, 2, 47, 1);
}

.bxs-lock-alt, .bxs-color, .bxs-edit-alt, .bxs-info-circle{
    font-size: 4.375rem; 
    margin-top: 0.25em;
    color: rgba(25, 70, 26, 1);
}

.callPop{
    display: none;
    flex-direction: column;
    position: fixed;    
    padding: 0.5em 1em;
    height: auto; 
    width: 46%;
    background: rgba(178, 2, 47, 1);  
    border-radius: 30px; 
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        left 0.2s ease-out,
        top 0.2s ease-out;
    user-select: none;
} 

.popHeading{
    font-size: 2.75rem;
	font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
	text-align: center;
	color: white;  
	letter-spacing: 1.2px; 
    line-height: 100%;
    margin-bottom: 0.125em; 
    z-index: 10;
}

.popWaffle{
    font-size: 1.25rem;
	font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
	text-align: center;
	color: rgba(255, 255, 255, 0.9);  
	letter-spacing: 1.2px;
}

.popGrid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    position: relative;
    width: 80%;
    height: 7.5vh;
    margin-top: 0.75em;
    margin-inline: auto;
}

.popDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.25rem 0.5em;
}

.popDiv i{
    font-size: 1.5rem;
    color: white;
}

.popListWaffle{
    font-size: 1rem;
	font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
	text-align: center;
	color: white;  
	letter-spacing: 1.2px; 
}  

.sslPop{
    display: none;
    flex-direction: column;
    position: fixed;   
    padding: 0.5em 1em;
    height: auto;
    width: 46%;
    background: rgba(25, 70, 26, 1); 
    border-radius: 30px; 
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        left 0.2s ease-out,
        top 0.2s ease-out;
    user-select: none;
} 

.webPop{
    display: none;
    flex-direction: column;
    position: fixed;    
    padding: 0.5em 1em;
    height: auto;
    width: 46%;
    background: rgba(223, 135, 35, 1); 
    border-radius: 30px; 
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        left 0.2s ease-out,
        top 0.2s ease-out;
    user-select: none;
} 

.layPop{
    display: none;
    flex-direction: column;
    position: fixed;    
    padding: 0.5em 1em;
    height: auto;
    width: 46%;
    background: rgba(178, 2, 47, 1);
    border-radius: 30px; 
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        left 0.2s ease-out,
        top 0.2s ease-out;
    user-select: none;
} 

.colPop{
    display: none;
    flex-direction: column;
    position: fixed;    
    padding: 0.5em 1em;
    height: auto;
    width: 46%;
    background: rgba(25, 70, 26, 1);
    border-radius: 30px; 
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        left 0.2s ease-out,
        top 0.2s ease-out;
    user-select: none;
} 

.animPop{
    display: none;
    flex-direction: column;
    position: fixed;    
    padding: 0.5em 1em;
    height: auto;
    width: 46%;
    background: rgba(223, 135, 35, 1);
    border-radius: 30px; 
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        left 0.2s ease-out,
        top 0.2s ease-out;
    user-select: none;
} 

.seoPop{
    display: none;
    flex-direction: column;
    position: fixed;    
    padding: 0.5em 1em;
    height: auto;
    width: 46%;
    background: rgba(178, 2, 47, 1);
    border-radius: 30px; 
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        left 0.2s ease-out,
        top 0.2s ease-out;
    user-select: none;
} 

.typoPop{
    display: none;
    flex-direction: column;
    position: fixed;    
    padding: 0.5em 1em;
    height: auto;
    width: 46%;
    background: rgba(25, 70, 26, 1);
    border-radius: 30px; 
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        left 0.2s ease-out,
        top 0.2s ease-out;
    user-select: none;
} 

.aiPop{
    display: none;
    flex-direction: column;
    position: fixed;    
    padding: 0.5em 1em;
    height: auto;
    width: 46%;
    background: rgba(223, 135, 35, 1);
    border-radius: 30px; 
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        left 0.2s ease-out,
        top 0.2s ease-out;
    user-select: none;
} 

.homePop{
    display: none;
    flex-direction: column;
    position: fixed;    
    padding: 0.5em 1em;
    height: auto;
    width: 46%;
    background: rgba(178, 2, 47, 1);
    border-radius: 30px; 
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        left 0.2s ease-out,
        top 0.2s ease-out;
    user-select: none;
} 

.aboutPop{
    display: none;
    flex-direction: column;
    position: fixed;    
    padding: 0.5em 1em;
    height: auto;
    width: 46%;
    background: rgba(25, 70, 26, 1);
    border-radius: 30px; 
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        left 0.2s ease-out,
        top 0.2s ease-out;
    user-select: none;
} 

.legalPop{
    display: none;
    flex-direction: column;
    position: fixed;    
    padding: 0.5em 1em;
    height: auto;
    width: 46%;
    background: rgba(223, 135, 35, 1);
    border-radius: 30px; 
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        left 0.2s ease-out,
        top 0.2s ease-out;
    user-select: none;
} 