.bio--bento{
    display: grid; 
	grid-auto-columns: minmax(10%, 20%);
	grid-auto-rows: 1fr; 
	grid-template-areas: 
        'two two two two two'
		'one five five three three'
		'one five five three three'
        'one five five three three'
		;
	height: 100%;  
	gap: 1em;
	width: 100%;   
	padding-block: 15px;
}

.bio--bento--box{
    display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	background: #ebeef1; 
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
	border-radius: 30px;
}

.bio--bento--id{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%; 
	background-image: url('images/rose.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
	border-radius: 30px;
	transition: opacity 1s, transform 1s;
} 

.bio--bento--id h1{
	font-size: 4rem;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    color: white;
	text-shadow: 2px 2px black;
    text-align: center; 
    margin-top: 0;
}

.bio--bento--exp{
    display: flex;
	flex-direction: column;
    align-items: center;
	position: relative;
    padding: 0.5em 1em;
	width: 100%;
	height: 100%;
	background-image: url('images/exp.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
	border-radius: 30px;
	transition: opacity 1s, transform 1s;
}

.bio--bento--exp h2{
    font-size: 1.75rem;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 105%;
    color: white;
	text-shadow: 2px 2px black;
    text-align: center; 
    margin-bottom: 0;
}

.bio--lang--grid{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    height: 7.5vh;
    width: 70%; 
    margin-top: 0.5em; 
} 

.bio--lang--grid div{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
}

.bio--lang--grid div p{
    font-size: 1.625rem;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    color: white; 
    text-align: left; 
} 

.bio--lang--prog--grid{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    height: 6.25vh;
    width: 100%;  
    margin-bottom: 0.25em;
    padding: 0.5em;
    background: #ebeef1; 
    box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    border-radius: 30px;
}

.bio--lang--prog--bar{
    display: block;
    position: relative;
    width: 90%;
    height: 100%;
    background: #ff5733;
    border-radius: 30px;
    transition: transform 2s ease;  
    left: 0;
}

.bio--lang--prog--cent{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
}

.bio--lang--prog--cent span{
    font-size: 1.5rem;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    color: #ff5733;
	text-shadow: 2px 2px white;
    text-align: center; 
    transition: opacity 2s ease;
}

.bio--bento--time{
    display: flex;
	flex-direction: column;
	position: relative;
    justify-content: space-around;
	width: 100%;
	height: 100%;
    padding: 0em 1em 0.75em 1em;
	background-image: url('images/stats.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
	border-radius: 30px;   
	transition: opacity 1s, transform 1s;
}

.bio--bento--time--grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    width: 90%;
    height: 30%; 
    background: transparent;
    margin-inline: auto;
    margin-top: 0;
    padding-top: 0;
}

.bio--bento--time--icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    height: 80%;
    width: 20%;
    margin-inline: auto;
    background: #ebeef1; 
    box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    border-radius: 100%;
}

.bio--bento--time--icon i{
    font-size: 30px;
    color: #000000;
}

.bio--bento--time--text{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0px 1em; 
}

.bio--bento--time--grid h2{
    font-size: 2.375rem;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    color: white;
	text-shadow: 2px 2px black;
    text-align: center;      
}

.bio--bento--time--grid p{
    font-size: 1.5rem;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    color: white;
	text-shadow: 2px 2px black;
    text-align: center;     
}

.bio--bento--profile{
    display: flex;
	flex-direction: column;
	position: relative;
    justify-content: space-evenly;
	width: 100%;
	height: 100%; 
	background-image: url('images/port1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
	border-radius: 30px;
	transition: opacity 1s, transform 1s;
}

.bio--bento--profile--dark{
    display: flex;
	flex-direction: column;
	position: relative;
    align-items: center;
    justify-content: flex-end;
	width: 100%;
	height: 100%;
    padding: 1em 1em;
    border-radius: 30px; 
    background-image: linear-gradient(180deg, transparent, black);
}

.bio--bento--profile--dark h2{
    font-size: 2.125rem;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    color: white;
	text-shadow: 2px 2px black;
    text-align: center;  
}

.bio--bento--profile--dark p{
    font-size: 1.25rem;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.753); 
    text-align: center;  
    margin-top: 0.2em; 
}

.bio--bento--profile--grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    position: absolute;
    top: 87.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 7.5vh;
    gap: 1rem; 
}

.bio--bento--social--grid{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    width: 100%;
    height: 7.5vh; 
    background: #ebeef1; 
    box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    border-radius: 30px;
}

.bio--bento--social--grid div{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    transition: cursor .3s;
}

.bio--bento--social--grid div i{
    font-size: 26px;
    text-shadow: 
   -8px -8px 12px rgba(255,255,255,0.4),
   8px 8px 12px rgba(0,0,0,0.08);
   caret-color:#262626;
   color: #92969b;
}

.bio--bento--social--grid div span{
    font-size: 16px;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 
   -8px -8px 12px rgba(255,255,255,0.4),
   8px 8px 12px rgba(0,0,0,0.08);
   caret-color:#262626;
   color: #92969b;
}

.bio--bento--ad{
    display: flex;
	flex-direction: column;
	align-items: flex-start; 
	position: relative;
	padding: 0.25em 0.75em;
	width: 100%;
	height: 100%; 
	background-image: url('images/hero--Image.jpeg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 75%;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
	border-radius: 30px;
	overflow: hidden;
	transition: all .3s;
}

.bio--bento--ad h2{
	font-size: 21px;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    color: white;
	text-shadow: 2px 2px black;
    text-align: left; 
}

.bio--bento--ad p{
	font-size: 16px;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    color: white;
    text-align: left; 
	text-shadow: 2px 2px black;
	margin-top: 0.25em;
}